
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
*{
    font-family: '微軟正黑體';
}
.nav > li > a > img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.navbar-default .navbar-nav > li > a.rightmenu{
    padding: 10px;
}

.navbar-default .navbar-nav > li > a.rightmenu .circleWord{
    font-size: 15px;
    line-height: 30px;
    border: 1px solid #eee;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
}